windows-curses
sounddevice
scipy
vosk
transformers[torch]  # You can also use transformers[tf-cpu] for TensorFlow support

# Specify a minimum Python version that includes standard library modules
python_version >= '3.7'

# The following modules are part of the Python standard library:
# queue
# threading
# textwrap
# shutil
